 /* MARGENES GLOBALES */
* {
    margin: 0px;
    padding: : 0px;
}

body {
    background: #FFFFFF; /* Fondo de la página*/
    color: #171717;  /* Color texto*/
}

/*Nuestro contenido, lo configuramos */
#contenedor {
    width: auto;
    margin: 10px;
    margin-top: 10px;
    background: #FFFFFF;
    border-radius: 5px;
    overflow: hidden;
}

header {
    height: auto;
    margin-left: 0px;
    background: #454545;
}

header h1{
    font-size: 35px;
    text-align: left;
    margin-top: 10px;
    margin-left: 20px;
    line-height: 50px;
    color: #FFFFFF;
}


nav {
    background: #FFFFFF;
    height: 60px;
    }

    nav h2{
        font-size: 25px;
        text-align: left;
        line-height: 30px;
        color: #000000;
        }

    nav h3{
        font-size: 15px;
        text-align: left;
        line-height: 15px;
        color: #000000;
        }



#contenido {
    width: 25%;
    height: 400px;
    float: left;
    background: #FFFFFF;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#contenido h3 {
    font-size: 20px;
    text-align: left;
    line-height: 20px;
    line-height: 40px;
}

.grafica{
    width:350px;
    height:350px;
   }

aside {
    width: 65%;
    height: 300px;
    float: right;
    background: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 5px;
}

aside h3{
   line-height: 40px;
}

.tabla_reponer {
    border-collapse: collapse;
}

footer {
    clear: both;
    background: #454545;
    height: 40px;
    text-align: center;
    font-size: 10px;
    color:#E8E8E8;
}

footer h4 {
    font-size: 15px;
    line-height: 25px;
}
.micuenta {
    color: #567FCA;
}