<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
<div id="contenedor">

        <header>
            <h1> Nombre de nuestra empresa</h1>
        </header>
        <nav>
            <h2> Esto es el aside</h2>
        </nav>
        <section id="contenido">
            <article>
                    <h3>
                        Esta página es el inicio
                    </h3>
                <section>
                    <h2>
                        Y esta es nuestra sección article
                    </h2>
                    <p>Los elementos de encabezado implementan seis niveles blap>
                </section>
                <section>
                    <p>
                        Para hacer Login click <a href="/login">aquí</a>
                    </p>

                </section>
            </article>
        </section>
        <aside>

            <p>
            Publicidad
            </p>
        </aside>

        <footer>
            <h4>Copyright - Todos los derechos reservados</h4>
            <p>Para más información <a href="micuenta.html">Mi cuenta</a></p>
        </footer>
    </div>
</body>

</html>