<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
<div id="contenedor">

        <header>
            <h1>Eduferbur's Company</h1>
<!--            <a class = "logout" href="/logout">Logout</a>-->


        </header>
        <nav>
            <h2>Bienvenido {{g.user.username}}</h2>
            <h3>Es un placer tenerlo de vuelta</h3>

        </nav>
        <section id="contenido">
            <article>
                    <h3>
                        Gráfica de pedidos hasta la fecha:
                    </h3>
                <section id="grafica">
                  <img class="grafica" src="/plot.png" alt="my plot">
                </section>
<!--                <section>-->
<!--                    <h3> Beneficio final: {{beneficio}}€</h3>-->

<!--                </section>-->
            </article>
        </section>
        <aside>
            <h3>SUS DATOS DE USUARIO:</h3>
            <table>
                  <tr>
                    <td><b>CIF: </b></td>
                    <td> </td>
                    <td>{{g.user.cif}}</td>
                  </tr>
                  <tr>
                    <td><b>Nombre Fiscal: </b></td>
                    <td> </td>
                    <td>{{g.user.nombreFiscal}}</td>
                  </tr>
                                <tr>
                    <td><b>Descuento: </b></td>
                    <td> </td>
                    <td>{{g.user.descuento}}%</td>
                  </tr>
            </table>
            <br>
            <h3>Últimos 5 pedidos:</h3>
          <div class="tabla_reponer">
            {% for table in tables %}
               {{ table|safe }}
            {% endfor %}
          </div>
        </aside>

        <footer>
            <h4>Cerrar sessión: <a class="micuenta" href="/">Logout</a></h4>
            <p>Copyright EFB- Tokio School 2020 - Todos los derechos reservados</p>
        </footer>
    </div>
</body>

</html>