<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  </head>
<body>

    <header>
        <nav>
            <ul>
                <li><a href="index.html"> Inicio</a></li>
                <li><a href="micuenta.html"> Mi cuenta</a></li>
                <li><a href="nosotros.html"> Sobre Nosotros</a></li>
            </ul>
        </nav>
    </header>

    <article>
            <h1>
                Esta página es el inicio
            </h1>
        <section>
            <h2>
                Y esta es nuestra sección article
            </h2>
            <p>Los elementos de encabezado implementan seis niveles blap>
        </section>
        <section>
            <p>
                Para hacer Login click <a href="/login">aquí</a>
            </p>

        </section>
    </article>

    <aside>
        <h2> Esto es el aside</h2>
        <p>
        Pues eso, el aside
        </p>
    </aside>

    <footer>
        <h4>Copyright - Todos los derechos reservados</h4>
        <p>Para más información <a href="micuenta.html">Mi cuenta</a></p>
    </footer>
</body>
</html>
